/* src/components/AdoptionGallery.css */

.adoption-gallery {
  text-align: center;
  padding: 30px;
}

.adoption-gallery h3 {
  color: #0000FF;
  font-size: 2em;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}

.arrow-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arrow {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.arrow-button:not(:disabled) .arrow:hover {
  transform: scale(1.1);
}

.gallery {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
