/* src/pages/Login.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

.login-page {
  font-family: 'Helvetica Neue', sans-serif;
  color: #000;
  text-align: center;
  height: 100%;
}

.header {
  background-color: #39C5BB;
  padding: 10px;
}

.logo {
  color: #fff;
  margin: 0;
  text-decoration: none; /* Remove underline */
  font-family: 'Helvetica Neue', sans-serif; /* Ensure consistent font */
}

.background-image {
  background-image: url('/public/images/puppies-background.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px); /* 50px accounts for the header height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 10px; /* Reduced margin to fix spacing */
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Ensures consistent font size */
}

.login-box input:focus {
  border-color: #39C5BB;
  outline: none;
}

.login-box button[type='submit'] {
  background-color: #39C5BB;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px; /* Ensures consistent font size */
}

.login-box button[type='submit']:hover {
  background-color: #33b3aa;
}

.signup-button {
  display: block;
  margin: 20px 0 10px;
  color: #fff;
  background-color: #39C5BB;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px; /* Ensures consistent font size */
}

.signup-button:hover {
  background-color: #33b3aa;
}

.google-signin {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  display: block; /* Ensure it takes full width */
  margin-left: auto;
  margin-right: auto;
}

.google-signin img {
  width: 200px;
  height: auto;
}

.forgot-password {
  display: block; /* Ensure it stacks below the Google button */
  margin: 20px 0 0; /* Add some top margin */
  color: #39C5BB;
  text-decoration: none;
  font-size: 0.9em;
}

.forgot-password:hover {
  text-decoration: underline;
}
