/* src/pages/MyApplications.css */

.my-applications-page {
    font-family: 'Helvetica Neue', sans-serif;
    color: #000;
}

.welcome-banner {
    background-color: #f3f4f6;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.welcome-banner h1 {
    font-size: 2.5em;
    color: #007bff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.dashboard-content {
    display: flex;
    padding: 20px;
    background-color: #f3f4f6;
    min-height: 80vh;
}

.applications-main-content {
    flex: 1;
    padding: 0 20px;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 1em;
    color: #555;
}

.status-message {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin-top: 40px;
}

.applications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.application-card {
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.application-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.application-card-content {
    display: flex;
    align-items: center;
    padding: 15px;
}

.pet-image {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    margin: 15px; /* Equal spacing from surrounding elements */
}

.application-info {
    padding: 15px;
    text-align: left;
    flex: 1;
}

.application-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #007BFF;
}

.application-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}
